.boxA {
  width: 400px;
  padding: 10px;
  margin: 20px auto;
  min-height: 100px;
  border: 1px solid rgb(226, 81, 23);
}
.bg01 {
  background-color: #5d768e;
}

.bg02 {
  background-color: #1ce0ac;
}

.item {
  border: solid 1px #e620be;
  padding: 3px;
  margin-bottom: 5px;
  display: block;
}

.item h2 {
  font-size: 16px;
}

.item p {
  padding: 2px 5px;
}
.text2 {
  font-weight: bold;
  color: brown;
}
.text3 {
  font-style: italic;
  color: rgb(17, 29, 201);
}

.hide {
  display: none;
}

#appForm {
}

#appForm > div {
  padding: 4px 10px;
}
